*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
html::after,
body {
    margin: 0 !important;
}

html {
    height: 100%;
    background-color: floralwhite;
}

body {
    min-height: 100vh;
    border: 1em solid rgba(0,0,0,0.25);
    padding: 1em;
    line-height: 1.25;
    display: flex;
        flex-flow: column nowrap;
        justify-content: center;
}

small {
    color: rgba(0,0,0,0.55);
}